{% extends 'base.html' %}
{% block title %}Товары{% endblock %}
{% block menu %}
    <li class="nav-item"><a href="{% url 'webapp:product_create' %}" class="nav-link">Добавить товар</a></li>
{% endblock %}
{% block content %}
    <h1 class="text-center">Товары</h1>
    <div class="row">
        {% for product in product_list %}
            <div class="col col-3">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.get_category_display }}</p>
                        <a href="{% url "webapp:product_detail" product.pk %}"
                           class="btn btn-primary">Посмотреть</a>
                        <a href="{% url "webapp:product_update" product.pk %}"
                           class="btn btn-primary mt-2">Изменить</a>
                         <a href="{% url "webapp:product_delete" product.pk %}"
                           class="btn btn-primary mt-2">Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
