.review-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.review {
    border: solid 1px darkgray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.review p {
    margin: 0 0 5px;
}

.review-links {
    text-align: right;
}

.review .review-links {
    margin: 5px 0 0;
}